/* styles.css 
   Project: 
   Author: 
   Date: 
	
   Helpful links: 
   	Web colors: 
   		https://en.wikipedia.org/wiki/Web_colors#X11_color_names
	Color picker tool:
		https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool
		http://colorpicker.com

*/
@font-face {
  font-family: GothamBold;
  src: url(../gothambold/Gotham-Bold.ttf);
}

@font-face {
  font-family: GothamBook;
  src: url(../gothambook/Gotham-Book.otf);
}

img {
   width: 100%;
}

h1 {
   font-family: GothamBold;
}

h3 {
   font-family: GothamBook;
}


.container {
   max-width: 810px;
   margin: auto;
}


/*DROPDOWN STYLING*/
      .dropbtn {
        background-color: #51585f;
        color: white;
        padding: 12px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        font-family: GothamBook;
        margin-bottom: 10px;
      }

      .dropbtn:hover, .dropbtn:focus {
        background-color: #2d343a;
      }

      #myInput {
         width: 100%;
         font-size: 16px;
         padding: 14px 20px 12px 20px;
         border: none;
         border-bottom: 1px solid #ddd;
         font-family: GothamBook;
      }

      #myInput:focus {outline: 3px solid #ddd;}

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
        font-family: GothamBook;

      }

      .dropdown-content p {
        color: black;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
        margin: 5px 0px;
        /*height: 50vh;*/
      }

      .countydrop {
         height: 30vh;
         overflow: scroll;
         font-family: 'Montserrat', sans-serif;
         font-family: GothamBook;

      }

      .department {
         cursor: pointer;
      }

      .dropdown p:hover {background-color: #ddd;}

      .show {display: block;}


/*END DROPDOWN STYLING*/

.chart {
   width: 100%;
}

.source{
   font-size: 10px;
   font-style: italic;
   font-family: GothamBook;
}






